conf/xsd/ChRISEnvelope_Create_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.hmrc.gov.uk/ChRIS/Envelope/2"
           xmlns="http://www.hmrc.gov.uk/ChRIS/Envelope/2"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Root Element -->
    <xs:element name="ChRISEnvelope">
        <xs:complexType>
            <xs:sequence>
                <!-- Envelope Metadata -->
                <xs:element name="EnvelopeVersion" type="xs:string"/>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MessageClass" type="xs:string"/>
                            <xs:element name="Qualifier" type="xs:string"/>
                            <xs:element name="Function" type="xs:string"/>
                            <xs:element name="Sender">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="System" type="xs:string"/>
                                        <xs:element name="CorrelatingID" type="xs:string"/>
                                        <xs:element name="ReceiptDate" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Envelope Body -->
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IRenvelope" form="unqualified">
                                <xs:complexType>
                                    <xs:sequence>

                                        <!-- Header Info -->
                                        <xs:element name="IRheader" form="unqualified">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Keys" form="unqualified">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Key" form="unqualified" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="Type" type="xs:string" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="PeriodEnd" type="xs:date" form="unqualified"/>
                                                    <xs:element name="Sender" type="xs:string" form="unqualified"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- Budgeting Plan Details -->
                                        <xs:element name="dDIPPDetails" form="unqualified">
                                            <xs:complexType>
                                                <xs:sequence>

                                                    <!-- General Submission Info -->
                                                    <xs:element name="submissionDateTime" type="xs:dateTime" form="unqualified"/>
                                                    <xs:element name="credentialID" type="xs:string" form="unqualified"/>

                                                    <xs:element name="knownFact" form="unqualified">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="service" type="xs:string" form="unqualified"/>
                                                                <xs:element name="value" type="xs:string" form="unqualified"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>

                                                    <!-- DDI Information -->
                                                    <xs:element name="directDebitInstruction" form="unqualified">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="actionType" type="xs:string" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="ddiReferenceNo" type="xs:string" form="unqualified"/>
                                                                <xs:element name="bankSortCode" type="xs:string" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="bankAccountNo" type="xs:string" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="bankAccountName" type="xs:string" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="paperAuddisFlag" type="xs:string" form="unqualified" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>

                                                    <!-- Payment Plan for Budgeting -->
                                                    <xs:element name="paymentPlan" form="unqualified">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="actionType" type="xs:string" form="unqualified"/>
                                                                <xs:element name="pPType" type="xs:string" form="unqualified"/>
                                                                <xs:element name="paymentReference" type="xs:string" form="unqualified"/>
                                                                <xs:element name="corePPReferenceNo" type="xs:string" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="hodService" type="xs:string" form="unqualified"/>
                                                                <xs:element name="paymentCurrency" type="xs:string" form="unqualified"/>

                                                                <!-- Budgeting Plan-Specific Fields -->
                                                                <xs:element name="scheduledPaymentAmount" type="xs:decimal" form="unqualified"/>
                                                                <xs:element name="scheduledPaymentStartDate" type="xs:date" form="unqualified"/>
                                                                <xs:element name="scheduledPaymentEndDate" type="xs:date" form="unqualified"/>
                                                                <xs:element name="scheduledPaymentFrequency" type="xs:string" form="unqualified"/>
                                                                <xs:element name="totalLiability" type="xs:decimal" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="balancingPaymentAmount" type="xs:decimal" form="unqualified" minOccurs="0"/>
                                                                <xs:element name="balancingPaymentDate" type="xs:date" form="unqualified" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>

                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
